{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Concerts Passés</h2>

{% if concerts %}
    <div class="row">
        {% for concert in concerts %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ concert.titre }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">A eu lieu le {{ concert.date_concert.strftime('%d/%m/%Y') }} à {{ concert.lieu }}</h6>
                    {% if concert.avis_redacteur %}
                        <p class="card-text mt-3"><strong>Avis du rédacteur :</strong> {{ concert.avis_redacteur }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info">Aucun concert passé n'est répertorié pour le moment.</div>
{% endif %}

{% endblock %}